# -----------------------------------------------------------------------------
# Database Configuration
# -----------------------------------------------------------------------------
DATABASE_URL='DATABASE_URL'


# application
FRONTEND_URL="FRONTEND_URL"

# Arcjet
ARCJET_KEY="ARCJET_KEY"
ARCJET_ENV="development"

NODE_ENV="development"

# better auth
BETTER_AUTH_SECRET=BETTER_AUTH_SECRET