# -----------------------------------------------------------------------------
# Database Configuration
# -----------------------------------------------------------------------------
DATABASE_URL='DATABASE_URL'


# application
FRONTEND_URL="FRONTEND_URL"

# Arcjet
ARCJET_KEY="ARCJET_KEY"
ARCJET_ENV="development"

NODE_ENV="development"
DB_SEED="false"


# better auth
BETTER_AUTH_SECRET=BETTER_AUTH_SECRET
BETTER_AUTH_URL="http://localhost:8000/api/auth"